body {
    font-family: "Space Grotesk", sans-serif;
}

a:hover {
    color: var(--primary-color);
}

section {
    /* chaque section est un container flex en column */
    flex-direction: column;

    display: none;
    margin: auto;
    max-width: 1200px; /* max-width pour les gros écrans... éviter d'avoir une liste de 12'000px de large */

    &.active { /* avec la classe "active", on affiche la section */
      display: flex;
    }
}