#genres .viz {
  width: 100vw;
  max-width: 100%;
  overflow-x: auto;
  box-sizing: border-box;
}

  .title-year{
    font-size: 120px;
    font-family: "Space Grotesk", sans-serif;
  }

.title-description{
  font-family: "Space Grotesk", sans-serif;
}