#posters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Ajoute ceci pour centrer horizontalement */
    gap: 100px;
    margin: 0 auto;
    padding-top: 100px;
    max-width: 1200px;
}

.posters {
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
}

#canvas {
    display: flex;
    justify-content: center; 
    align-items: center;    
    height: 100%;       
    width: 100%;             
}
